*{
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
}

.container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.parent{
  height: 360px;
  width: 350px;
  border: 2px solid white;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  background-color: rgb(54, 42, 42);
}

.card{
  text-align: center;
  font-weight: bold;
  color: aliceblue;
}

.card img{
  height: 150px;
  width: 150px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 10px;
  object-fit: fill;
}

.card h2{
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 35px;
}

.card p{
  font-size: medium;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 12px;
}

.card button{
  text-align: center;
  width: 100px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  background-color: rgb(190, 190, 202);
  color: antiquewhite;
  border-color: aquamarine;
  cursor: pointer;
}

